[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyEditor"]
	path = shinyEditor
	url = https://github.com/zearoby/shinyeditor
